<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsnu.jd.jsnujd.mapper.UserMapper">
    <parameterMap id="UserParameterMap" type="com.jsnu.jd.jsnujd.pojo.User">
        <parameter property="uuid" resultMap="UserResultMap"/>
        <parameter property="password" resultMap="UserResultMap"/>
        <parameter property="name" resultMap="UserResultMap"/>
        <parameter property="phone" resultMap="UserResultMap"/>
        <parameter property="email" resultMap="UserResultMap"/>
        <parameter property="avatar" resultMap="UserResultMap"/>
        <parameter property="lastLoginTime" resultMap="UserResultMap"/>
        <parameter property="registerTime" resultMap="UserResultMap"/>
        <parameter property="address" resultMap="UserResultMap"/>
        <parameter property="retailer" resultMap="UserResultMap"/>
    </parameterMap>
    <resultMap id="UserResultMap" type="com.jsnu.jd.jsnujd.pojo.User">
        <result column="uuid" property="uuid"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="address" property="address"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="register_time" property="registerTime"/>
        <result column="retailer" property="retailer"/>
    </resultMap>
    <select id="selectUserPasswordByUserId" parameterType="string" resultType="string">
        select password from user_data where uuid=#{userId};
    </select>
    <insert id="addUser" parameterMap="UserParameterMap">
        insert into user_data (uuid,password,name,phone,email,avatar,last_login_time,register_time,retailer,address)
	        values (#{uuid},#{password},#{name},#{phone},#{email},#{avatar},#{lastLoginTime},#{registerTime},#{retailer},#{address});
    </insert>
    <select id="selectUserByUuid" parameterType="string" resultMap="UserResultMap">
        select * from user_data where uuid=#{userId};
    </select>
    <delete id="deleteUserByUuid" parameterType="string">
        delete from user_data where uuid=#{userId};
    </delete>
    <update id="editUserInfoByPojo" parameterMap="UserParameterMap">
        update user_data set password=#{password},`name`=#{name},phone=#{phone},email=#{email},avatar=#{avatar},
            last_login_time=#{lastLoginTime},retailer=#{retailer},address=#{address} where uuid=#{uuid};
    </update>
    <select id="selectUserByEmail" parameterType="string" resultMap="UserResultMap">
        select * from user_data where email=#{email};
    </select>
    <select id="selectUserByPhone" parameterType="string" resultMap="UserResultMap">
        select * from user_data where phone=#{phone};
    </select>
    <select id="selectUserByName" parameterType="string" resultMap="UserResultMap">
        select * from user_data where name=#{name};
    </select>
</mapper>