<div class="detail">
    <div class="container">
        <!-- title-->
        <div class="title container">
            <div class=".col-md-offset-5 logo_ico">
                <h3><a href="#!/home"><img src="public/logo.png"> 商品详情</a></h3>
            </div>
            <div class="search">
                <input type="text" class="search_box"ng-model="user.search_key">
                <span class="search_it"ng-click="iWantIt()">搜全站</span>
            </div>
            <div class="cart"  ng-click="toCart()">
                <span class="glyphicon glyphicon-shopping-cart cart_ico"></span>
                <span>我的购物车</span>
                <span class="total" ng-bind="user.cartList"></span>
            </div>
        </div>
    </div>
    <!--分类和店名-->
    <div class="various">
        <div class="container">
            <div class="type"><a href="" ng-bind="goods.cate"></a></div>
            <div class="retailer"><span>自营</span><a href="" ng-bind="goods.publisher">宏碁京东自营旗舰店</a></div>
        </div>
    </div>
    <!--详情信息-->
    <div class="msg">
        <div class="container">
            <div class="roughly col-md-offset-1">
                <div class="logo">
                    <img  width="350px" height="350px" onerror="this.src='img-search/1.jpg'" ng-src="{{goods.image}}">
                </div>
                <div class="more">
                    <div class="name"><img src="img-detail/fanbox.png"><span ng-bind="goods.name"></span></div>
                    <div class="price">
                        <div>京东价<span class="rel_price" ng-bind="'￥'+goods.sellPrice"></span></div>
                        <div>促销<span class="discount" ng-bind="'-￥' + {{goods.price-goods.sellPrice}}"></span></div>
                    </div>
                    <div class="function">
                        <div class="f" ng-click="buyIt()">立即支付</div>
                        <div class="f" ng-click="putIn()">加入购物车</div>
                    </div>
                </div>
            </div>
            <div class="des">
                <div class="title">
                    <div>
                        <ul>
                            <li class="main">商品介绍</li>
                            <li class="li1"><a href="">规格与包装</a></li>
                            <li class="li1"><a href="">售后保障</a></li>
                            <li class="li1"><a href="">商品评价</a></li>
                            <li class="li1"><a href="">本店好评商品</a></li>
                        </ul>
                    </div>
                    <div class="toCart" ng-click="putIn()">加入购物车</div>
                </div>
                <div class="none" ng-if="(goods.description)===''?true:false">商家没有添加详细内容</div>
                <div class="show"ng-if="(goods.description)===''?false:true" ng-bind="goods.description"></div>
            </div>

        </div>
    </div>
</div>