/*--------------------------------------登录页面CSS--------------------------------------*/
/*--------------------------------------登录页面CSS--------------------------------------*/
/*--------------------------------------登录页面CSS--------------------------------------*/
/*--------------------------------------登录页面CSS--------------------------------------*/
/***banner的设置****/
.login .banner{
    width: 100%;
    height: 500px;
    background-image: url(/img-login/banner.png);
    background-repeat:no-repeat;
    background-color: #e93854;
    background-position: 50% 0%;
}
.login .banner .login-form{
    background-color: #FFFFFF;
    float:left;
    margin-top: 50px;
    height: 300px;
    padding-top: 30px;
    position: relative;
}

.login .banner .login-botton{
    width: 80%;
}
.login .banner .login-b{
    text-align:center;

}
.login .banner .to-register{
    text-align: right;
    position: absolute;
    right:0px;
    bottom: 0px;
    height: 10%;
    width: 100%;
    background-color: rgb(252,252,252);
    border-top: 1px solid rgb(244,244,244);
}

.login .banner .to-register a{
    color: rgb(182,29,29);
}

.login .tip{
    background-color: rgb(255,248,240);
    text-align: center;
    height: 40px;
    color: rgb(153,153,153);
}
/*--------------------------------------注册页面CSS--------------------------------------*/
/*--------------------------------------注册页面CSS--------------------------------------*/
/*--------------------------------------注册页面CSS--------------------------------------*/
/*--------------------------------------注册页面CSS--------------------------------------*/

.reg .ipt-t{
    padding-left: 10px;
    width:300px;
    height:42px;
    font-size:15px;
    letter-spacing: 1px;
}
.reg .top{
    width:1245px;
    height:88px;
    border-bottom:4px solid #EEEEEE;
    margin-bottom: 20px;
}
.reg .top .text{
    font-weight:normal;
    font-size:24px;
}
.reg .td-lft{
    text-align: right;
    padding:0px 20px;
}
.reg .process{
    text-align: center;
}
.reg .tip{
    color: rgb(197,197,197);
}

.reg .reg-now{
    background-color: rgb(226,35,26);
    color:#fff;
    padding:15px 25px;
    font-size:16px;
    text-decoration:none;
    border: none;
}
.reg .user-name{
    letter-spacing: 5px;
}
.reg .user-info{
    letter-spacing: 10px;
}

/*测试*/
/*.reg table{*/
/*	border: 1px solid black;*/
/*}*/
/*--------------------------------------个人信息CSS--------------------------------------*/
/*--------------------------------------个人信息CSS--------------------------------------*/
/*--------------------------------------个人信息CSS--------------------------------------*/
/*--------------------------------------个人信息CSS--------------------------------------*/
.userinfo .title ul{
    list-style:none;
}
.userinfo .title li{
    float: left;
    padding: 10px 20px;
}
.userinfo .title a{
    font-size: 20px;
    color: black;
}
.userinfo .title a:hover{
    text-decoration: none;
}
.userinfo .title .logo_ico{
    float: left;
}
.userinfo .title .middle{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}
.userinfo .title .search{
    color: rgb(255,255,255);
    margin-top: 30px;
    margin-left: 70px;
    float: left;
    background-color: rgb(223,48,40);
    height: 35px;
    width: 240px;
    padding: 2px 0px 2px 2px;
}
.userinfo .title .search_box{
    width: 80%;
    height: 99%;
}
.userinfo .title .search_it{
    padding: 5px;
}
.userinfo .title .search_it:hover{
    cursor: pointer;
}
.userinfo .title .cart{
    float: left;
    width: 150px;
    height: 35px;
    background-color: rgb(249,249,249);
    border: 1px solid rgb(223,223,223);
    padding: 6px 0px 6px 20px;
    margin-top: 30px;
    margin-left: 30px;
}
.userinfo .title .cart div{
    float: left;
}
.userinfo .title .cart:hover{
    cursor: pointer;
}
.userinfo .title .cart_ico{
    color: rgb(242,19,35);
}
.userinfo .title .total{
    padding: 0px 5px;
    border-radius: 50%;
    background-color: rgb(200,22,35);
    width: 100px;
    height: 8px;
    color: rgb(255,255,255);
}
/****************钱包+头像*********************/
.userinfo .info_main{
    background-color: rgb(240,243,239);
    padding-top: 20px;
    padding-left: 40px;
}
.userinfo .info_main .user_ico{
    float: left;
    width: 250px;
    height: 240px;
    background-color: rgb(226,35,26);
    background-image: url(/img-userinfo/jdcom.png);
    padding-top: 10px;
}
.userinfo .info_main .ico{
    margin-left: 60px;
    width: 130px;
    height: 130px;
}
.userinfo .info_main .user_name{
    text-align: center;
    color: rgb(255,255,255);
    font-weight: bold;
    font-size: 20px;
    padding:10px 0px;
}
.userinfo .info_main .ico_bottom{
    background-color: rgb(35,35,49);
    width: 100%;
    height: 52px;
    color: rgb(244,202,58);
    font-weight: bold;
    font-size: 15px;
    padding-top: 15px;
}
.userinfo .info_main .advip{
    margin-left: 20px;
}
.userinfo .info_main .getvip{
    border-radius: 10%;
    color: rgb(35,35,49);
    padding: 2px 10px;
    background-color: rgb(244,202,58);

}
.userinfo .info_main .wallet{
    float: left;
    background-color: rgb(255,255,255);
    height: 220px;
    margin-top: 10px;
    width: 800px;
}
.userinfo .info_main .title{
    font-size: 20px;
    padding: 10px 0px 10px 15px;
    border-bottom: 1px solid rgb(240,243,239);
}

.userinfo .info_main .wallet .wallet_data .data{
    font-size: 20px;
    font-weight: bold;

}
.userinfo .info_main .wallet .wallet_data td{
    padding: 15px 40px;
}
.userinfo .info_main .wallet .wallet_data .data a{
    color: black;

}
.userinfo .info_main .wallet .wallet_data .data a:hover{
    text-decoration: none;
    color: rgb(200,22,35);
}
/*---------------------修改个人信息----------------------*/
.userinfo .info_main .editinfo{
    margin-top: 250px;
    background-color: rgb(255,255,255);
    height: 300px;
    width: 1050px;
    float: none;
}
.userinfo .info_main .editinfo .change{
    font-size: 5px;
}
.userinfo .info_main .editinfo .change:hover{
    cursor: pointer;
    color: rgb(200,22,35);
}
.userinfo .info_main .editinfo .main{
    padding-top: 30px;
    padding-left: 220px;
}
.userinfo .info_main .editinfo .main .hint{
    padding:10px 15px 10px 20px;
    text-align: right;
}
.userinfo .info_main .editinfo .main .inputbox{
    padding: 0px 10px;
}
.userinfo .info_main .editinfo .main .lginput{
    width: 500px;
}
/*---------------------发布商品----------------------*/
.userinfo .info_main .release{
    margin-top: 20px;
    background-color: rgb(255,255,255);
    width: 1050px;
    height: 300px;
    float: none;
}
.userinfo .info_main .release .release_goods{
    font-size: 5px;
}
.userinfo .info_main .release .release_goods:hover{
    cursor: pointer;
    color: rgb(200,22,35);
}
.userinfo .info_main .release .main{
    padding: 5px 0px;
}
.userinfo .info_main .release .msg{
    padding: 10px 10px 10px 10px;
    text-align: right;
}
.userinfo .info_main .release .table2 input{
    width: 900px;
}
.userinfo .info_main .release .table2 textarea{
    width: 900px;
    height: 150px;
    resize: none;
}
/*---------------------我的订单----------------------*/
.userinfo .info_main .myorder{
    margin-top: 20px;
    background-color: rgb(255,255,255);
    width: 1050px;
    float: none;
}
.userinfo .info_main .myorder .function span{
    padding: 10px 50px;
}
.userinfo .info_main .myorder .function{
    padding: 20px 40px;
    border-bottom: 1px solid rgb(240,243,239);
}

.userinfo .info_main .myorder .data{
    height: 100px;
}
.userinfo .info_main .myorder .goods_ico{
    padding-top: 10px;
    padding-left: 50px;
    float: left;
}
.userinfo .info_main .myorder .goods_ico img{
    width: 80px;
    height: 80px;
}
.userinfo .info_main .myorder .data .good_name{
    float: left;
    padding: 10px 0 10px 10px;
    width: 700px;
    color: rgb(102,102,102);
}
.userinfo .info_main .myorder .data .more{
    padding-top: 10px;
}

.userinfo .info_main .myorder .data .more b{
    background-color: rgb(238,238,238);
    margin: 10px;
    padding: 1px;
    width: 1px;
}
.userinfo .info_main .myorder .data .more a{
    color: rgb(51,51,51);
}
.userinfo .info_main .myorder .data .more a:hover{
    text-decoration: none;
    color: rgb(226,35,26);
}