/*--------------------------------------登录页面CSS--------------------------------------*/
/*--------------------------------------登录页面CSS--------------------------------------*/
/*--------------------------------------登录页面CSS--------------------------------------*/
/*--------------------------------------登录页面CSS--------------------------------------*/
/***banner的设置****/
.login .banner{
    width: 100%;
    height: 500px;
    background-image: url(/img-login/banner.png);
    background-repeat:no-repeat;
    background-color: #e93854;
    background-position: 50% 0%;
}
.login .banner .login-form{
    background-color: #FFFFFF;
    float:left;
    margin-top: 50px;
    height: 300px;
    padding-top: 30px;
    position: relative;
}

.login .banner .login-botton{
    width: 80%;
}
.login .banner .login-b{
    text-align:center;

}
.login .banner .to-register{
    text-align: right;
    position: absolute;
    right:0px;
    bottom: 0px;
    height: 10%;
    width: 100%;
    background-color: rgb(252,252,252);
    border-top: 1px solid rgb(244,244,244);
}

.login .banner .to-register a{
    color: rgb(182,29,29);
}

.login .tip{
    background-color: rgb(255,248,240);
    text-align: center;
    height: 40px;
    color: rgb(153,153,153);
}
/*--------------------------------------注册页面CSS--------------------------------------*/
/*--------------------------------------注册页面CSS--------------------------------------*/
/*--------------------------------------注册页面CSS--------------------------------------*/
/*--------------------------------------注册页面CSS--------------------------------------*/

.reg .ipt-t{
    padding-left: 10px;
    width:300px;
    height:42px;
    font-size:15px;
    letter-spacing: 1px;
}
.reg .top{
    width:1245px;
    height:88px;
    border-bottom:4px solid #EEEEEE;
    margin-bottom: 20px;
}
.reg .top .text{
    font-weight:normal;
    font-size:24px;
}
.reg .td-lft{
    text-align: right;
    padding:0px 20px;
}
.reg .process{
    text-align: center;
}
.reg .tip{
    color: rgb(197,197,197);
}

.reg .reg-now{
    background-color: rgb(226,35,26);
    color:#fff;
    padding:15px 25px;
    font-size:16px;
    text-decoration:none;
    border: none;
}
.reg .user-name{
    letter-spacing: 5px;
}
.reg .user-info{
    letter-spacing: 10px;
}

/*测试*/
/*.reg table{*/
/*	border: 1px solid black;*/
/*}*/
/*--------------------------------------个人信息CSS--------------------------------------*/
/*--------------------------------------个人信息CSS--------------------------------------*/
/*--------------------------------------个人信息CSS--------------------------------------*/
/*--------------------------------------个人信息CSS--------------------------------------*/
.userinfo .title ul{
    list-style:none;
}
.userinfo .title li{
    float: left;
    padding: 10px 20px;
}
.userinfo .title a{
    font-size: 20px;
    color: black;
}
.userinfo .title a:hover{
    text-decoration: none;
}
.userinfo .title input{
    color: black;
}
.userinfo .title .logo_ico{
    float: left;
}
.userinfo .title .middle{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}
.userinfo .title .search{
    color: rgb(255,255,255);
    margin-top: 30px;
    margin-left: 70px;
    float: left;
    background-color: rgb(223,48,40);
    height: 35px;
    width: 240px;
    padding: 2px 0px 2px 2px;
}
.userinfo .title .search_box{
    width: 80%;
    height: 99%;
}
.userinfo .title .search_it{
    padding: 5px;
}
.userinfo .title .search_it:hover{
    cursor: pointer;
}
.userinfo .title .cart{
    float: left;
    width: 150px;
    height: 35px;
    background-color: rgb(249,249,249);
    border: 1px solid rgb(223,223,223);
    padding: 6px 0px 6px 20px;
    margin-top: 30px;
    margin-left: 30px;
}
.userinfo .title .cart div{
    float: left;
}
.userinfo .title .cart:hover{
    cursor: pointer;
}
.userinfo .title .cart_ico{
    color: rgb(242,19,35);
}
.userinfo .title .total{
    padding: 0px 5px;
    border-radius: 40%;
    background-color: rgb(200,22,35);
    width: 100px;
    height: 8px;
    color: rgb(255,255,255);
}
/****************钱包+头像*********************/
.userinfo .info_main{
    background-color: rgb(240,243,239);
    padding-top: 20px;
    padding-left: 40px;
}
.userinfo .info_main .user_ico{
    float: left;
    width: 250px;
    height: 240px;
    background-color: rgb(226,35,26);
    background-image: url(/img-userinfo/jdcom.png);
    background-repeat: no-repeat;
    padding-top: 10px;
}
.userinfo .info_main .ico{
    margin-left: 60px;
    width: 130px;
    height: 130px;
}
.userinfo .info_main .user_name{
    text-align: center;
    color: rgb(255,255,255);
    font-weight: bold;
    font-size: 20px;
    padding:10px 0px;
}
.userinfo .info_main .ico_bottom{
    background-color: rgb(35,35,49);
    width: 100%;
    height: 52px;
    color: rgb(244,202,58);
    font-weight: bold;
    font-size: 15px;
    padding-top: 15px;
}
.userinfo .info_main .advip{
    margin-left: 20px;
}
.userinfo .info_main .getvip{
    border-radius: 10%;
    color: rgb(35,35,49);
    padding: 2px 10px;
    background-color: rgb(244,202,58);

}
.userinfo .info_main .wallet{
    float: left;
    background-color: rgb(255,255,255);
    height: 220px;
    margin-top: 10px;
    width: 800px;
}
.userinfo .info_main .title{
    font-size: 20px;
    padding: 10px 0px 10px 15px;
    border-bottom: 1px solid rgb(240,243,239);
}

.userinfo .info_main .wallet .wallet_data .data{
    font-size: 20px;
    font-weight: bold;

}
.userinfo .info_main .wallet .wallet_data td{
    padding: 15px 40px;
}
.userinfo .info_main .wallet .wallet_data .data a{
    color: black;

}
.userinfo .info_main .wallet .wallet_data .data a:hover{
    text-decoration: none;
    color: rgb(200,22,35);
}
/*---------------------修改个人信息----------------------*/
.userinfo .info_main .editinfo{
    margin-top: 250px;
    background-color: rgb(255,255,255);
    height: 300px;
    width: 1050px;
    float: none;
}
.userinfo .info_main .editinfo .change{
    font-size: 5px;
}
.userinfo .info_main .editinfo .change:hover{
    cursor: pointer;
    color: rgb(200,22,35);
}
.userinfo .info_main .editinfo .main{
    padding-top: 30px;
    padding-left: 220px;
}
.userinfo .info_main .editinfo .main .hint{
    padding:10px 15px 10px 20px;
    text-align: right;
}
.userinfo .info_main .editinfo .main .inputbox{
    padding: 0px 10px;
}
.userinfo .info_main .editinfo .main .lginput{
    width: 500px;
}
/*---------------------发布商品----------------------*/
.userinfo .info_main .release{
    margin-top: 20px;
    background-color: rgb(255,255,255);
    width: 1050px;
    height: 300px;
    float: none;
}
.userinfo .info_main .release .release_goods{
    font-size: 5px;
}
.userinfo .info_main .release .release_goods:hover{
    cursor: pointer;
    color: rgb(200,22,35);
}
.userinfo .info_main .release .main{
    padding: 5px 0px;
}
.userinfo .info_main .release .msg{
    padding: 10px 10px 10px 10px;
    text-align: right;
}
.userinfo .info_main .release .table2 input{
    width: 900px;
}
.userinfo .info_main .release .table2 textarea{
    width: 900px;
    height: 150px;
    resize: none;
}
/*---------------------我的订单----------------------*/
.userinfo .info_main .myorder{
    margin-top: 20px;
    background-color: rgb(255,255,255);
    width: 1050px;
    float: none;
}
.userinfo .info_main .myorder .function span{
    padding: 10px 50px;
}
.userinfo .info_main .myorder .function{
    padding: 20px 40px;
    border-bottom: 1px solid rgb(240,243,239);
}

.userinfo .info_main .myorder .data{
    height: 100px;
}
.userinfo .info_main .myorder .goods_ico{
    padding-top: 10px;
    padding-left: 50px;
    float: left;
}
.userinfo .info_main .myorder .goods_ico img{
    width: 80px;
    height: 80px;
}
.userinfo .info_main .myorder .data .good_name{
    float: left;
    padding: 10px 0 10px 10px;
    width: 700px;
    color: rgb(102,102,102);
}
.userinfo .info_main .myorder .data .more{
    padding-top: 10px;
}

.userinfo .info_main .myorder .data .more b{
    background-color: rgb(238,238,238);
    margin: 10px;
    padding: 1px;
    width: 1px;
}
.userinfo .info_main .myorder .data .more a{
    color: rgb(51,51,51);
}
.userinfo .info_main .myorder .data .more a:hover{
    text-decoration: none;
    color: rgb(226,35,26);
}

/*--------------------------------------搜索页CSS--------------------------------------*/
/*--------------------------------------搜索页CSS--------------------------------------*/
/*--------------------------------------搜索页CSS--------------------------------------*/
/*--------------------------------------搜索页CSS--------------------------------------*/
.searchPage #select{
    width:1230px;
    height:800px;
    margin:20px auto;
}
.searchPage #top img{
    margin:20px;
}

.searchPage #top div.search{
    width:510px;
    height:35px;
    padding:2px;
    background-color:red;
    margin:-80px 0px 0px 400px;
}

.searchPage #top div.search input{
    /*宽度 高度 内边距 0px*/
    width:410px;
    height:30px;
    padding:0px;
    /*左内边距 文本颜色*/
    padding-left:10px;
    color:#666;
}
.searchPage #top div.search button{
    /*去边框 改背景 高度 宽度 文字：大小 颜色 加粗*/
    border:0px;
    background-color:red;
    height:28px;
    width:75px;
    font-size:16px;
    color:#fff;
}

.searchPage #top div.my_car img{
    border:1px solid #E0E0E0;
    margin-top:-50px;
    margin-left:950px;

}


.searchPage #top div.nav{
    border:2px solid white;
    border-bottom:2px solid red;
    height:55px;
}
.searchPage #top div.nav p{
    float:left;
    width:250px;
    height:40px;
    background-color:red;
    color:white;
    font-weight:bold;
    text-align:center;
    padding-top:10px;
    margin:12px 0px 0px 80px;

}
.searchPage #top div.nav li{
    float:left;
    margin-left:40px;
    margin-top:25px;
    font-weight:bold;
}
.searchPage #top div.nav li a{
    color:black;
}
.searchPage #top div.nav li a:hover{
    color:red;
    text-decoration:none;
}



.searchPage #main img{
    margin:20px 0px 10px 80px;
}
.searchPage #main li{
    float:left;
    margin-left:30px;
}
.searchPage #main li a{
    float:left;
    border:1px solid white;
    width:250px;
    height:440px;
    text-decoration:none;
}
.searchPage #main a span{
    color:red;
    font-size:23px;
    margin-left:20px;
}
.searchPage #main a div{
    color:#888888;
    font-size:13px;
    margin-bottom:20px;
    margin-left:20px;

}

.searchPage #main a div:hover{
    color:red;

}
.searchPage #main a b{
    color:#888888;
    font-size:13px;
    margin-left:-120px;
}

.searchPage #main a button{
    color:red;
    border:1px solid red;
    background-color:white;
    font-size:13px;
    margin:10px 0px 10px 120px;
}


.searchPage #main a b img{
    width:25px;
    height:20px;
    margin-top:2px;
    margin-left:22px;

}
.searchPage #main a s img{
    width:140px;
    height:23px;
    margin-top:30px;
    margin-left:-15px;

}
.searchPage #main li img{
    float:left;
    width:200px;
    height:220px;
    margin-left:25px;
}
.searchPage #main li p img{
    margin:0px 0px 0px 10px;;
    height:40px;
    width:140px;
}

.searchPage #main a:hover{
    border-color:#888888;
}

/*--------------------------------------购物车--------------------------------------*/
/*--------------------------------------购物车--------------------------------------*/
/*--------------------------------------购物车--------------------------------------*/
/*--------------------------------------购物车--------------------------------------*/

.cart>div{
    margin-left: 30px;
}
.cart .title a {
    color: black;
}

.cart .title a:hover{
    text-decoration: none;
    color: black;
}
.cart .title .logo_ico{
    float: left;
}
.cart .title .search{
    color: rgb(255,255,255);
    margin-top: 30px;
    margin-left: 350px;
    float: left;
    background-color: rgb(223,48,40);
    height: 35px;
    width: 400px;
    padding: 2px 0px 2px 2px;
}
.cart .title .search_box{
    width: 87%;
    height: 99%;
}
.cart .title .search_it{
    padding: 5px;
}
.cart .title .search_it:hover{
    cursor: pointer;
}
.cart .infotitle{
    margin-top: 100px;
}
.cart .infotitle a{
    color: rgb(226,35,26);
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgb(226,35,26);
}
.cart .infotitle a:hover{
    text-decoration: none;
}
.cart .infotitle .functionlist {
    height: 45px;
    width: 100%;
    background-color: rgb(243,243,243);
    border: 1px solid rgb(224,224,224);
    padding: 8px 0 0 10px;
}

.cart .infotitle .functionlist table{
    color: rgb(102,102,102);
}
.cart .infotitle .functionlist .td1{
    padding: 0 90px 0 5px;
}
.cart .infotitle .functionlist .td2{
    padding: 0 450px 0 5px;
}
.cart .infotitle .functionlist .td3{
    padding: 0 90px 0 5px;
}
.cart .infotitle .functionlist .td4{
    padding: 0 100px 0 5px;
}
.cart .infotitle .functionlist .td5{
    padding: 0 80px 0 5px;
}
.cart .goodsinfo{
    padding:20px 0 20px  10px;
    margin-top: 30px;
    border-top: 2px solid rgb(170,170,170);
    border-right: 1px solid rgb(241,241,241);
    border-left: 1px solid rgb(241,241,241);
    border-bottom: 1px solid rgb(241,241,241);
}
.cart .goodsinfo td{
    padding: 10px 0;
}
.cart .goodsinfo .td1{
    padding: 0 10px 0 5px;
    width: 138px;
}
.cart .goodsinfo .td2{
    width: 485px;
    padding: 0 10px 0 5px;
}
.cart .goodsinfo .td3{
    padding: 0 10px 0 5px;
    width: 125px;
}
.cart .goodsinfo .td4{
    padding: 0 10px 0 5px;
    width: 135px;
}
.cart .goodsinfo .td5{
    padding: 0 10px 0 5px;
    width: 115px;
}
.cart .goodsinfo .td6{
    padding: 0 10px 0 5px;
    width: 90px;
}
.cart .goodsinfo .td1 img{
    margin-left: 25px;
    height: 82px;
    width: 82px;
}
.cart .goodsinfo .td2 a:hover{
    text-decoration: none;
    color: rgb(226,35,26);
}
.cart .goodsinfo .td2 .goodsname{
    padding-bottom: 10px;
}
.cart .goodsinfo .td2 .goodsname a{
    color: rgb(51,51,51);
}
.cart .goodsinfo .td2 .goodsservice a{
    color: rgb(170,170,170);
}
.cart .goodsinfo .td6 a{
    color: rgb(102,102,102);
    font-size: 10px;
}
.cart .goodsinfo .td6 a:hover{
    text-decoration: none;
    color: rgb(226,35,26);
}
.cart .buybox{
    margin-top:30px;
    margin-bottom: 30px;
    height: 52px;
    border: 1px solid rgb(240,240,240);
}

.cart .buybox .buybox_left{
    padding:10px 10px;
    float: left;
}
.cart .buybox .buybox_right{
    float: right;
    margin-left: 20px;
}
.cart .buybox .buybox_left a{
    color: rgb(102,102,102);
}
.cart .buybox .buybox_left a:hover{
    color: rgb(226,35,26);
    text-decoration: none;
}
.cart .buybox .buyit{
    background-color: rgb(230,67,71);
    color: rgb(255,255,255);
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    width: 100px;
    text-align: center;
    padding-top: 10px;
}
.cart .buybox .buyit:hover{
    cursor: pointer;
}
.cart .buybox .totalprice{
    font-size: 10px;
    color: rgb(153,153,153);
}
.cart .buybox .totalprice span{
    color: rgb(226,35,26);
    font-size:18PX;
    font-weight: bold;
}
.cart .buybox .discount{
    text-align: right;
    color: rgb(102,102,102);
}
.cart .buybox .selected{
    color: rgb(153,153,153);
}
.cart .buybox .selected:hover{
    cursor: pointer;
}
.cart .buybox .selected .num{
    color: rgb(226,35,26);
}
/*--------------------------------------主页CSS--------------------------------------*/
/*--------------------------------------主页CSS--------------------------------------*/
/*--------------------------------------主页CSS--------------------------------------*/
/*--------------------------------------主页CSS--------------------------------------*/