<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>京东首页</title>
	<link rel = "stylesheet" href ="css-oldjd/oldjd.css">
</head>
<body>
<!--1.页面顶部-->
<header id = "top">
	<div id = "top_box">
		<img class = "lf" src = "img/star.jpg">
		<a class = "lf" href = "#">收藏京东</a><!--添加左浮动效果-->
		<ul class = "rt"><!--添加右浮动效果 -->
			<li>
				<a href = "#">[登录]</a>
				<a href = "#">[免费注册]</a>
			</li>
			<li>
				<b></b><!--边框 -->
				<a href="#">我的订单</a>
			</li>
			<li class = "vip">
				<b></b><!--边框 -->
				<a href="#">会员俱乐部</a>
			</li>
			<li class="dakehu">
				<b></b><!--边框-->
				<a href="#">企业频道</a>
			</li>
			<li class = "app_jd">
				<b></b><!--边框 -->
				<a href="#">手机京东</a>
			</li>
			<li class = "service">
				<b></b><!--边框 -->
				<a href="#">客户服务</a>
				<!-- 弹出菜单 -->
				<ul>
					<li>
						<a href = "#">帮助中心</a>
					</li>
					<li>
						<a href = "#">售后服务</a>
					</li>
					<li>
						<a href = "#">在线客服</a>
					</li>
					<li>
						<a href = "#">投诉中心</a>
					</li>
					<li>
						<a href = "#">客服邮箱</a>
					</li>
				</ul>
			</li>
			<li>
				<b></b><!--边框 -->
				<a href="#">网站导航</a>
			</li>
		</ul>

	</div>
</header>
<!--2.Logo和搜索框-->
<div id = "top_main">
	<!--2.1 LOGO图片 -->
	<a href = "#" class = "lf">
		<img src = "img/logo-201305.png">
	</a>
	<!--2.2 搜索框和热门搜索 -->
	<div id = "search_box">
		<!--2.2.1 搜索框和按钮 -->
		<div class = "search">
			<input class = "txtSearch">
			<button>搜索</button>

		</div>
		<!--2.2.2 热门搜索 -->
		<div class = "hot_words">
			<span>热门搜索:</span>
			<a href = "#">南极人家纺</a>
			<a href = "#">彩虹电热毯</a>
			<a href = "#">博洋家纺</a>
			<a href = "#">旧冰箱</a>
			<a href = "#">旧彩电</a>
			<a href = "#">旧洗衣机</a>
			<a href = "#">空调</a>
			<a href = "#">热水器</a>
			<a href = "#">南极人家纺</a>
			<a href = "#">彩虹电热毯</a>
			<a href = "#">博洋家纺</a>
			<a href = "#">旧冰箱</a>
			<a href = "#">旧彩电</a>
			<a href = "#">旧洗衣机</a>
			<a href = "#">空调</a>
			<a href = "#">热水器</a>
			<a href = "#">南极人家纺</a>
			<a href = "#">彩虹电热毯</a>
			<a href = "#">博洋家纺</a>
			<a href = "#">旧冰箱</a>
			<a href = "#">旧彩电</a>
			<a href = "#">旧洗衣机</a>
			<a href = "#">空调</a>
			<a href = "#">热水器</a>
			<a href = "#">南极人家纺</a>
			<a href = "#">彩虹电热毯</a>
			<a href = "#">博洋家纺</a>
			<a href = "#">旧冰箱</a>
			<a href = "#">旧彩电</a>
			<a href = "#">旧洗衣机</a>
			<a href = "#">空调</a>
			<a href = "#">热水器</a>
		</div>
	</div>

	<!--2.3 我的京东 -->
	<div id = "my_jd">
		我的京东
		<b></b>
	</div>
	<!--2.4 去购物车结算-->
	<div id="my_shop">
		去购物车结算
		<b></b>
	</div>
</div>
<!--3.页面主导航栏-->
<nav id = "nav">
	<p>
		<a>全部商品分类</a>
		<b></b>
	</p>
	<ul class = "lf">
		<li>
			<a href = "#">首页</a>
		</li>
		<li>
			<a href = "#">服装城</a>
		</li>
		<li>
			<a href = "#">食品</a>
		</li>
		<li>
			<a href = "#">团购</a>
		</li>
		<li>
			<a href = "#">夺宝岛</a>
		</li>
		<li>
			<a href = "#">金融</a>
		</li>
	</ul>
</nav>
<!--4.Banner广告部分-->
<div id = "banner">
	<!--左：分类信息 -->
	<ul id = "cate_box">
		<li>
			<h3>
				<a href = "#">图书、音像、数字商品</a>
			</h3>

			<!--子分类盒子 -->
			<div id = "sub_cate_box">
				<!--关闭 -->
				<div class = "close" onclick = "document.getElementById('sub_cate_box').style.display='none';">×</div>
				<!--具体分类信息 -->
				<div class= "sub_cate_content">
					<ul>
						<li class = "title">
							<a href = "#">电子书</a>
						</li>
						<li>
							<a href = "#">免费</a>
						</li>
						<li>
							<a href = "#">小说</a>
						</li>
						<li>
							<a href = "#">励志与成功</a>
						</li>
						<li>
							<a href = "#">婚恋/两性</a>
						</li>
						<li>
							<a href = "#">免费</a>
						</li>
					</ul>
					<ul>
						<li class = "title">
							<a href = "#">电子书</a>
						</li>
						<li>
							<a href = "#">免费</a>
						</li>
						<li>
							<a href = "#">小说</a>
						</li>
						<li>
							<a href = "#">励志与成功</a>
						</li>
						<li>
							<a href = "#">婚恋/两性</a>
						</li>
						<li>
							<a href = "#">免费</a>
						</li>
					</ul>
					<ul>
						<li class = "title">
							<a href = "#">电子书</a>
						</li>
						<li>
							<a href = "#">免费</a>
						</li>
						<li>
							<a href = "#">小说</a>
						</li>
						<li>
							<a href = "#">励志与成功</a>
						</li>
						<li>
							<a href = "#">婚恋/两性</a>
						</li>
						<li>
							<a href = "#">免费</a>
						</li>
					</ul>
				</div>
			</div>

		</li>
		<li>
			<h3>
				<a href = "#">家用电器</a>
			</h3>
		</li>
	</ul>

	<!--中：banner广告 -->
	<div id ="slider_box">
		<!--滑动广告 -->
		<div id= "slider">
			<img src = "img/index/banner_02.jpg">
			<ul>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
			</ul>
		</div>

		<!--三幅小广告 -->
		<div id = "ad">
			<a class = "lf" href = "#"></a><!--左箭头 -->
			<a class = "rt" href = "#"></a><!--右箭头 -->
			<ul class = "lf">
				<li >
					<img src = "img/index/ad_01.jpg">
				</li>
				<li class = "mid">
					<img src = "img/index/ad_02.jpg">
				</li>
				<li>
					<img src = "img/index/ad_03.jpg">
				</li>
			</ul>
		</div>
	</div>
	<!--右：右边广告 -->
	<div id ="extra_focus">
		<!--图片 -->
		<a href = "#">
			<img src = "img/index/ad_focus.jpg">
		</a>
		<!--京东快报-->
		<div class = "news">
			<div class = "title">
				<b class = "lf">京东快报</b>
				<a href = "#">更多快报内容&gt;&gt;</a>
			</div>
			<div class = "content">
				<ul class = "lf">
					<li>
						<a href = "#">松鼠好年货2折开抢</a>
					</li>
					<li>
						<a href = "#">名酒春晚茅台888</a>
					</li>
					<li>
						<a href = "#">四国鲜花定制款低至5折</a>
					</li>
					<li>
						<a href = "#">家居年货大采购低至9.9</a>
					</li>
				</ul>
				<ul class = "rt">
					<li>
						<a href = "#">年味食足最高199减50</a>
					</li>
					<li>
						<a href = "#">MOTO X，10:30开售！</a>
					</li>
					<li>
						<a href = "#">京东自营 爱鲜回家</a>
					</li>
					<li>
						<a href = "#">关于假冒客服诈骗的声明</a>
					</li>
				</ul>
			</div>

		</div>
		<!--虚拟内容-->
		<div id = "virtuals">
			<ul>
				<li class = "huafei">
					<a href = "#">
						<s></s>
						话费
						<i></i>
					</a>
				</li>
				<li class = "jipiao">
					<a href = "#">
						<s></s>
						机票
						<i></i>
					</a>
				</li>
				<li class = "caipiao">
					<a href = "#">
						<s></s>
						彩票
						<i></i>
					</a>
				</li>
				<li class = "youxi">
					<a href = "#">
						<s></s>
						游戏
						<i></i>
					</a>
				</li>
				<li class = "lvxing">
					<a href = "#">
						<s></s>
						游行
						<i></i>
					</a>
				</li>
				<li class = "dianyingpiao">
					<a href = "#">
						<s></s>
						电影票
						<i></i>
					</a>
				</li>
				<li class = "licai">
					<a href = "#">
						<s></s>
						理财
						<i></i>
					</a>
				</li>
				<li class = "shuidianmeiqi">
					<a href = "#">
						<s></s>
						水电煤
						<i></i>
					</a>
				</li>
			</ul>
		</div>
	</div>

</div>
<!--5.页面主体-->
<section id= "main">
	<!--生活的橱窗 -->
	<div id = "show_box">
		<!-- 文本 -->
		<p>
			生活的橱窗
			<i>每一天展示精彩！</i>
		</p>
		<!-- 8幅广告-->
		<ul>
			<li>
				<!--遮罩层 -->
				<b></b>
				<!--文本 -->
				<div>
					<h3>品牌街</h3>
					<h4>三星note</h4>
					<h5>赠送500京东E卡</h5>
					<ul>
						<li><i></i>更多品牌</li>
						<li><i></i>进入品牌街</li>
					</ul>
				</div>
			</li>
			<li class="dijia">
				<!--遮罩层-->
				<b></b>
				<!--文本-->
				<div>
					<h3>天天低价</h3>
					<h4>坚果礼盒</h4>
					<span>95.8元秒杀</span>
				</div>
			</li>
			<li class="haodongxi">
				<!--遮罩层-->
				<b></b>
				<!--文本-->
				<div>
					<h3>好东西</h3>
					<h4>罗技蓝牙键盘</h4>
					<h5>舒适键入249</h5>
					<ul>
						<li><i></i>键鼠送红包</li>
						<li><i></i>逛更多&gt;&gt;</li>
					</ul>
				</div>
			</li>
			<li class="tuangou">
				<!--遮罩层-->
				<b></b>
				<!--文本-->
				<div>
					<h3>今日团购</h3>
					<h4>100元代金券</h4>
					<div>
						<span>团购价</span>
						<b>￥89</b>
						<p>
							<img src="img/index/cantuan.png">
						</p>
					</div>
				</div>
			</li>
			<li class="shoufa">
				<!--遮罩层-->
				<b></b>
				<!--文本-->
				<div>
					<h3>京东首发</h3>
					<h4>MOTO X</h4>
					<span>强势回归现货抢</span>
				</div>
			</li>
			<li class="youhuiquan">
				<!--遮罩层-->
				<b></b>
				<!--文本-->
				<div>
					<h3>优惠券</h3>
					<h4>意尔康男鞋</h4>
					<h5>百元神券限量送</h5>
				</div>
			</li>
			<li class="yushou">
				<!--遮罩层-->
				<b></b>
				<!--文本-->
				<div>
					<h3>京东预售</h3>
					<h4>磁带蓝牙音箱</h4>
					<span>送小米手环</span>
				</div>
			</li>
			<li class="jingxuan">
				<!--遮罩层-->
				<b></b>
				<!--文本-->
				<div>
					<h3>金融精选</h3>
					<h4>打白条0元购</h4>
					<h5>iPhone 6分期购</h5>
				</div>
			</li>
		</ul>
		<!-- 3幅广告-->
		<div id="three_ad">
			<ul>
				<li>
					<a href="#"></a>
				</li>
				<li class="second_ad">
					<a href="#"></a>
				</li>
				<li class="third_ad">
					<a href="#"></a>
				</li>
			</ul>
		</div>
	</div>
	<!--1F -->
	<div class = "floor">
		<!--头部 -->
		<header>
			<span>1F</span>
			<p>家电通讯</p>
			<ul class = "tab lf">
				<li>
					<a href = "#">特价商品</a>
				</li>
				<li>
					<a href = "#">大家电</a>
				</li>
				<li>
					<a href = "#">小家电</a>
				</li>
				<li>
					<a href = "#">手机通讯</a>
				</li>
				<li>
					<a href = "#">汽车五金</a>
				</li>
			</ul>
			<ul class = "link lf">
				<li>
					<a href = "#">合约计划说明&gt;</a>
				</li>
				<li>
					<a href = "#">大家电配送</a>
				</li>
			</ul>
		</header>
		<!--内容区域-->
		<aside class = "lf_list">
			<ul>
				<li>
					<a href="#">手机</a>
				</li>
				<li>
					<a href="#">空调</a>
				</li>
				<li>
					<a href="#">手机配件</a>
				</li>
				<li>
					<a href="#">平板电视</a>
				</li>
				<li>
					<a href="#">话费补贴</a>
				</li>
				<li>
					<a href="#">冰箱</a>
				</li>
				<li>
					<a href="#">生活电器</a>
				</li>
				<li>
					<a href="#">洗衣机</a>
				</li>
				<li>
					<a href="#">厨房电器</a>
				</li>
				<li>
					<a href="#">热水器</a>
				</li>
				<li>
					<a href="#">个护健康</a>
				</li>
				<li>
					<a href="#">烟机/灶具</a>
				</li>
				<li>
					<a href="#">五金家装</a>
				</li>
				<li>
					<a href="#">家庭影院</a>
				</li>
				<li>
					<a href="#">冰柜/冰吧</a>
				</li>
				<li>
					<a href="#">汽车用品</a>
				</li>
			</ul>
			<p>
				<img src = "img/index/fl_01.jpg">
			</p>
		</aside>
		<!--中间 -->
		<div class = "mid_list">
			<dl>
				<dt>
					<img src = "img/index/fl_dl_01.jpg">
				</dt>
				<dd>
					<a href = "#">48英寸智能电视2499，55英寸智能电视3499</a>
				</dd>
				<dd class = "text">送澳门风云2电影票</dd>
			</dl>
			<!--大图像-->
			<div>
				<img src="img/index/fl_ad_01.jpg">
			</div>
			<dl>
				<dt>
					<img src="img/index/fl_dl_02.jpg">
				</dt>
				<dd>
					<a href="#">moto新品首发</a>
				</dd>
				<dd class="text">2月5日10:30抢</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/index/fl_dl_03.jpg">
				</dt>
				<dd>
					<a href="#">小家电--加一元即享买一赠一</a>
				</dd>
				<dd class="text">另有疯狂加价购</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/index/fl_dl_04.jpg">
				</dt>
				<dd>
					<a href="#">大神 X7 现货开抢！</a>
				</dd>
				<dd class="text">￥1699.00</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/index/fl_dl_05.jpg">
				</dt>
				<dd>
					<a href="#">大家电-年前收货！全场狂降！</a>
				</dd>
				<dd class="text">7kg洗衣机998元秒杀</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/index/fl_dl_06.jpg">
				</dt>
				<dd>
					<a href="#">这就是范儿！有范儿才有未来！</a>
				</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/index/fl_dl_07.jpg">
				</dt>
				<dd>
					<a href="#">回家路上，车品护航</a>
				</dd>
				<dd class="text">年底大放血！</dd>
			</dl>
		</div>

		<!--右侧 -->
		<aside class = "rt">
			<ul>
				<li>
					<img src="img/index/rBEQWVFQLqgIAAAAAAAFbgvhBqMAAC0MAP_3cIAAAWG414.gif">
				</li>
				<li>
					<img src="img/index/537b3138N3205302e.jpg">
				</li>
				<li>
					<img src="img/index/53829f6eNa98427dc.jpg">
				</li>
				<li>
					<img src="img/index/rBEhUlHmCN0IAAAAAAASpGQ8IDYAABK2AP_yHEAABK8207.jpg">
				</li>
				<li>
					<img src="img/index/537b316bN35574fff.jpg">
				</li>
				<li>
					<img src="img/index/54caf3a2N56357d7c.jpg">
				</li>
				<li>
					<img src="img/index/537b3173Ne74bf3cf.jpg">
				</li>
				<li>
					<img src="img/index/537b3152Nf0573a0d.jpg">
				</li>
				<li>
					<img src="img/index/537b3130N7591211b.jpg">
				</li>
				<li>
					<img src="img/index/rBEbRlN5zCsIAAAAAAALfFfJRv8AACGGgO__3sAAAuU660.jpg">
				</li>
			</ul>
			<!--图像 -->
			<img src = "img/index/fl_ad_02.jpg">

		</aside>
	</div>
	<!--2F -->
	<div class = "floor2">
		<!--头部 -->
		<header>
			<span>2F</span>
			<p>个户美妆</p>
			<ul class = "tab lf">
				<li>
					<a href = "#">特价商品</a>
				</li>
				<li>
					<a href = "#">大家电</a>
				</li>
				<li>
					<a href = "#">小家电</a>
				</li>
				<li>
					<a href = "#">手机通讯</a>
				</li>
				<li>
					<a href = "#">汽车五金</a>
				</li>
			</ul>
			<ul class = "link lf">
				<li>
					<a href = "#">合约计划说明&gt;</a>
				</li>
				<li>
					<a href = "#">大家电配送</a>
				</li>
			</ul>
		</header>
		<!--内容区域-->
		<aside class = "lf_list">
			<ul>
				<li>
					<a href="#">手机</a>
				</li>
				<li>
					<a href="#">空调</a>
				</li>
				<li>
					<a href="#">手机配件</a>
				</li>
				<li>
					<a href="#">平板电视</a>
				</li>
				<li>
					<a href="#">话费补贴</a>
				</li>
				<li>
					<a href="#">冰箱</a>
				</li>
				<li>
					<a href="#">生活电器</a>
				</li>
				<li>
					<a href="#">洗衣机</a>
				</li>
				<li>
					<a href="#">厨房电器</a>
				</li>
				<li>
					<a href="#">热水器</a>
				</li>
				<li>
					<a href="#">个护健康</a>
				</li>
				<li>
					<a href="#">烟机/灶具</a>
				</li>
				<li>
					<a href="#">五金家装</a>
				</li>
				<li>
					<a href="#">家庭影院</a>
				</li>
				<li>
					<a href="#">冰柜/冰吧</a>
				</li>
				<li>
					<a href="#">汽车用品</a>
				</li>
			</ul>
			<p>
				<img src = "img/index/fl_01.jpg">
			</p>
		</aside>
		<!--中间 -->
		<div class = "mid_list">
			<dl>
				<dt>
					<img src = "img/index/fl_dl_01.jpg">
				</dt>
				<dd>
					<a href = "#">48英寸智能电视2499，55英寸智能电视3499</a>
				</dd>
				<dd class = "text">送澳门风云2电影票</dd>
			</dl>
			<!--大图像-->
			<div>
				<img src="img/index/fl_ad_01.jpg">
			</div>
			<dl>
				<dt>
					<img src="img/index/fl_dl_02.jpg">
				</dt>
				<dd>
					<a href="#">moto新品首发</a>
				</dd>
				<dd class="text">2月5日10:30抢</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/index/fl_dl_03.jpg">
				</dt>
				<dd>
					<a href="#">小家电--加一元即享买一赠一</a>
				</dd>
				<dd class="text">另有疯狂加价购</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/index/fl_dl_04.jpg">
				</dt>
				<dd>
					<a href="#">大神 X7 现货开抢！</a>
				</dd>
				<dd class="text">￥1699.00</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/index/fl_dl_05.jpg">
				</dt>
				<dd>
					<a href="#">大家电-年前收货！全场狂降！</a>
				</dd>
				<dd class="text">7kg洗衣机998元秒杀</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/index/fl_dl_06.jpg">
				</dt>
				<dd>
					<a href="#">这就是范儿！有范儿才有未来！</a>
				</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/index/fl_dl_07.jpg">
				</dt>
				<dd>
					<a href="#">回家路上，车品护航</a>
				</dd>
				<dd class="text">年底大放血！</dd>
			</dl>
		</div>

		<!--右侧 -->
		<aside class = "rt">
			<ul>
				<li>
					<img src="img/index/rBEQWVFQLqgIAAAAAAAFbgvhBqMAAC0MAP_3cIAAAWG414.gif">
				</li>
				<li>
					<img src="img/index/537b3138N3205302e.jpg">
				</li>
				<li>
					<img src="img/index/53829f6eNa98427dc.jpg">
				</li>
				<li>
					<img src="img/index/rBEhUlHmCN0IAAAAAAASpGQ8IDYAABK2AP_yHEAABK8207.jpg">
				</li>
				<li>
					<img src="img/index/537b316bN35574fff.jpg">
				</li>
				<li>
					<img src="img/index/54caf3a2N56357d7c.jpg">
				</li>
				<li>
					<img src="img/index/537b3173Ne74bf3cf.jpg">
				</li>
				<li>
					<img src="img/index/537b3152Nf0573a0d.jpg">
				</li>
				<li>
					<img src="img/index/537b3130N7591211b.jpg">
				</li>
				<li>
					<img src="img/index/rBEbRlN5zCsIAAAAAAALfFfJRv8AACGGgO__3sAAAuU660.jpg">
				</li>
			</ul>
			<!--图像 -->
			<img src = "img/index/fl_ad_02.jpg">

		</aside>
	</div>
	<!--3F -->
	<div class = "floor3">
		<!--头部 -->
		<header>
			<span>3F</span>
			<p>居家生活</p>
			<ul class = "tab lf">
				<li>
					<a href = "#">特价商品</a>
				</li>
				<li>
					<a href = "#">大家电</a>
				</li>
				<li>
					<a href = "#">小家电</a>
				</li>
				<li>
					<a href = "#">手机通讯</a>
				</li>
				<li>
					<a href = "#">汽车五金</a>
				</li>
			</ul>
			<ul class = "link lf">
				<li>
					<a href = "#">合约计划说明&gt;</a>
				</li>
				<li>
					<a href = "#">大家电配送</a>
				</li>
			</ul>
		</header>
		<!--内容区域-->
		<aside class = "lf_list">
			<ul>
				<li>
					<a href="#">手机</a>
				</li>
				<li>
					<a href="#">空调</a>
				</li>
				<li>
					<a href="#">手机配件</a>
				</li>
				<li>
					<a href="#">平板电视</a>
				</li>
				<li>
					<a href="#">话费补贴</a>
				</li>
				<li>
					<a href="#">冰箱</a>
				</li>
				<li>
					<a href="#">生活电器</a>
				</li>
				<li>
					<a href="#">洗衣机</a>
				</li>
				<li>
					<a href="#">厨房电器</a>
				</li>
				<li>
					<a href="#">热水器</a>
				</li>
				<li>
					<a href="#">个护健康</a>
				</li>
				<li>
					<a href="#">烟机/灶具</a>
				</li>
				<li>
					<a href="#">五金家装</a>
				</li>
				<li>
					<a href="#">家庭影院</a>
				</li>
				<li>
					<a href="#">冰柜/冰吧</a>
				</li>
				<li>
					<a href="#">汽车用品</a>
				</li>
			</ul>
			<p>
				<img src = "img/index/fl_01.jpg">
			</p>
		</aside>
		<!--中间 -->
		<div class = "mid_list">
			<dl>
				<dt>
					<img src = "img/index/fl_dl_01.jpg">
				</dt>
				<dd>
					<a href = "#">48英寸智能电视2499，55英寸智能电视3499</a>
				</dd>
				<dd class = "text">送澳门风云2电影票</dd>
			</dl>
			<!--大图像-->
			<div>
				<img src="img/index/fl_ad_01.jpg">
			</div>
			<dl>
				<dt>
					<img src="img/index/fl_dl_02.jpg">
				</dt>
				<dd>
					<a href="#">moto新品首发</a>
				</dd>
				<dd class="text">2月5日10:30抢</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/index/fl_dl_03.jpg">
				</dt>
				<dd>
					<a href="#">小家电--加一元即享买一赠一</a>
				</dd>
				<dd class="text">另有疯狂加价购</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/index/fl_dl_04.jpg">
				</dt>
				<dd>
					<a href="#">大神 X7 现货开抢！</a>
				</dd>
				<dd class="text">￥1699.00</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/index/fl_dl_05.jpg">
				</dt>
				<dd>
					<a href="#">大家电-年前收货！全场狂降！</a>
				</dd>
				<dd class="text">7kg洗衣机998元秒杀</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/index/fl_dl_06.jpg">
				</dt>
				<dd>
					<a href="#">这就是范儿！有范儿才有未来！</a>
				</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/index/fl_dl_07.jpg">
				</dt>
				<dd>
					<a href="#">回家路上，车品护航</a>
				</dd>
				<dd class="text">年底大放血！</dd>
			</dl>
		</div>

		<!--右侧 -->
		<aside class = "rt">
			<ul>
				<li>
					<img src="img/index/rBEQWVFQLqgIAAAAAAAFbgvhBqMAAC0MAP_3cIAAAWG414.gif">
				</li>
				<li>
					<img src="img/index/537b3138N3205302e.jpg">
				</li>
				<li>
					<img src="img/index/53829f6eNa98427dc.jpg">
				</li>
				<li>
					<img src="img/index/rBEhUlHmCN0IAAAAAAASpGQ8IDYAABK2AP_yHEAABK8207.jpg">
				</li>
				<li>
					<img src="img/index/537b316bN35574fff.jpg">
				</li>
				<li>
					<img src="img/index/54caf3a2N56357d7c.jpg">
				</li>
				<li>
					<img src="img/index/537b3173Ne74bf3cf.jpg">
				</li>
				<li>
					<img src="img/index/537b3152Nf0573a0d.jpg">
				</li>
				<li>
					<img src="img/index/537b3130N7591211b.jpg">
				</li>
				<li>
					<img src="img/index/rBEbRlN5zCsIAAAAAAALfFfJRv8AACGGgO__3sAAAuU660.jpg">
				</li>
			</ul>
			<!--图像 -->
			<img src = "img/index/fl_ad_02.jpg">

		</aside>
	</div>


	<!--热门晒单 -->
	<div id = "content_other">
		<!--热门晒单1 -->
		<div class = "share">
			<!--热门晒单文字 -->
			<p>热门晒单</p>
			<!--热门晒单的内容 -->
			<ul>
				<li>
					<!--左侧图片 -->
					<p>
						<img src = "img/index/share_01.jpg">
						<i class = "shai"></i>
					</p>
					<!--右侧文本 -->
					<div>
						<h3>
							<a href = "#">咔哟YOYO4.0蓝牙音箱低音炮立体声音响</a>
						</h3>
						<p>
							<a href = "#">音质还可以，不错的，很小，很大声，很好看。</a>
						</p>
					</div>
				</li>
				<li>
					<!--左侧图片 -->
					<p>
						<img src = "img/index/share_02.jpg">
						<i class = "hot"></i>
					</p>
					<!--右侧文本 -->
					<div>
						<h3>
							<a href = "#">[晒单贴]出乎意料的京东，神奇的泰富高焖烧壶</a>
						</h3>
						<p>
							<a href = "#">昨天晚上在京东10点下单的，今天中午就送到了，京东的快递哥实在神速呀！而且态度非常好，还</a>
						</p>
					</div>
				</li>
			</ul>
		</div>
		<!--热门晒单1 -->
		<div class = "share">
			<!--热门晒单文字 -->
			<p>热门晒单</p>
			<!--热门晒单的内容 -->
			<ul>
				<li>
					<!--左侧图片 -->
					<p>
						<img src = "img/index/share_01.jpg">
						<i class = "shai"></i>
					</p>
					<!--右侧文本 -->
					<div>
						<h3>
							<a href = "#">咔哟YOYO4.0蓝牙音箱低音炮立体声音响</a>
						</h3>
						<p>
							<a href = "#">音质还可以，不错的，很小，很大声，很好看。</a>
						</p>
					</div>
				</li>
				<li>
					<!--左侧图片 -->
					<p>
						<img src = "img/index/share_02.jpg">
						<i class = "hot"></i>
					</p>
					<!--右侧文本 -->
					<div>
						<h3>
							<a href = "#">[晒单贴]出乎意料的京东，神奇的泰富高焖烧壶</a>
						</h3>
						<p>
							<a href = "#">昨天晚上在京东10点下单的，今天中午就送到了，京东的快递哥实在神速呀！而且态度非常好，还</a>
						</p>
					</div>
				</li>
			</ul>
		</div>
		<!--热门晒单2-->
		<div class="more">
			<!--在线读书-->
			<div class="reading">
				<p>
					<b class="lf">在线读书</b>
					<a href="#" class="rt">更多在线读书&gt;&gt;</a>
				</p>
				<div>
					<img src="img/index/reading.jpg" class="lf">
					<ul>
						<li>
							<b></b>
							<a href="#">《来到地球第一天》新书特惠</a>
						</li>
						<li>
							<b></b>
							<a href="#">《袁腾飞讲先秦》(套装全2册)</a>
						</li>
						<li>
							<b></b>
							<a href="#">《只为成功找方法》成功宝典</a>
						</li>
						<li>
							<b></b>
							<a href="#">《如果世界只有我和你》蔡骏推荐</a>
						</li>
					</ul>
				</div>
			</div>
			<!--订阅信息-->
			<div class="order">
				<p>订阅促销信息</p>
				<input value ="请输入您的Email地址">
				<button>订阅</button>
			</div>
		</div>
	</div>
</section>
<!--6.页面底部-配送信息-->
<footer id = "foot_box">
	<p class="shopping_guide"></p>
	<ul>
		<li>
			<b>购物指南</b>
		</li>
		<li>
			<a href="#">购物流程</a>
		</li>
		<li>
			<a href="#">会员介绍</a>
		</li>
		<li>
			<a href="#">团购/机票</a>
		</li>
		<li>
			<a href="#">常见问题</a>
		</li>
		<li>
			<a href="#">大家电</a>
		</li>
		<li>
			<a href="#">联系客服</a>
		</li>
	</ul>
	<p class="send_type"></p>
	<ul>
		<li>
			<b>配送方式</b>
		</li>
		<li>
			<a href="#">上门自提</a>
		</li>
		<li>
			<a href="#">211限时达</a>
		</li>
		<li>
			<a href="#">配送服务查询</a>
		</li>
		<li>
			<a href="#">配送费收取标准</a>
		</li>
		<li>
			<a href="#">海外配送</a>
		</li>
	</ul>
	<p class="pay_type"></p>
	<ul>
		<li>
			<b>支付方式</b>
		</li>
		<li>
			<a href="#">货到付款</a>
		</li>
		<li>
			<a href="#">在线支付</a>
		</li>
		<li>
			<a href="#">分期付款</a>
		</li>
		<li>
			<a href="#">邮局汇款</a>
		</li>
		<li>
			<a href="#">公司转账</a>
		</li>
	</ul>
	<p class="after_sales"></p>
	<ul>
		<li>
			<b>售后服务</b>
		</li>
		<li>
			<a href="#">售后政策</a>
		</li>
		<li>
			<a href="#">价格保护</a>
		</li>
		<li>
			<a href="#">退款说明</a>
		</li>
		<li>
			<a href="#">返修/退换货</a>
		</li>
		<li>
			<a href="#">取消订单</a>
		</li>
	</ul>
	<p class="special_service"></p>
	<ul>
		<li>
			<b>特色服务</b>
		</li>
		<li>
			<a href="#">夺宝岛</a>
		</li>
		<li>
			<a href="#">DIY装机</a>
		</li>
		<li>
			<a href="#">延保服务</a>
		</li>
		<li>
			<a href="#">京东E卡</a>
		</li>
		<li>
			<a href="#">节能补贴</a>
		</li>
		<li>
			<a href="#">京东通信</a>
		</li>
	</ul>
</footer>
<!--7.页面底部-备案号信息-->
<footer id = "footer">
		<pre>				      <a href="#">关于我们  |  联系我们  |  人才招聘  |  商家入驻  |  广告服务  |  手机京东  |  友情链接  |  销售联盟  | 京东社区 |  京东公益</a>
					   <div>					  北京市公安局朝阳分局备案编号110105014669 | 京ICP证070359号 | 互联网药品信息服务资格证编号(京)-非经营性-2011-0034
					音像制品经营许可证苏宿批005号 | 出版物经营许可证编号新出发(苏)批字第N-012号 | 互联网出版许可证编号新出网证(京)字150号
							网络文化经营许可证京网文[2011]0168-061号 Copyright &copy; 2004-2014 京东JD.com 版权所有
									京东旗下网站： English Site 拍拍网 网银在线</div>
									<p><img src="img/jy.jpg">    <img src="img/kx.jpg">    <img src="img/cy.jpg">    <img src="img/cx.jpg"></p>
		</pre>
</footer>
</body>
</html>
